body{
  font-family: 'Courgette', cursive;
  background: white;

}
#single-menu-page{
  padding: 100px;
  background: white;
  .bg{
    background: black;
  }
  .content-box{
    .row{
      margin-top: 150px;
    }
  }
  h1{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    // color: #bf263d;
    color: white;
  }
  .item{
    margin-bottom: 2rem;
  }
  .title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
    h4, .price{
      font-size: 1.4rem;
      color: white;
      font-weight: 900;
    }
    .item-img{
      height: 100px;
      width: 100px;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
  #single-menu-page{
    padding: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #single-menu-page{
    padding: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  #single-menu-page{
    padding: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){}
